@{
    ViewData["Title"] = "Amazing Tag Helpers";
}
<h2>@ViewData["Title"]</h2>


<h3>jQuery DatePicker</h3>
iteration 1: &lt;date-picker&gt;&lt;/date-picker&gt;
<br />
<date-picker></date-picker>

<date-picker></date-picker>

<date-picker></date-picker>

<date-picker></date-picker>

<date-picker></date-picker>

<br/><br />

iteration 2: &lt;input class="@Hackathon.Amazing.TagHelpers.DatePicker.DatePickerDefaults.UniquePageClassName" /&gt;
<br />
<input class="@Hackathon.Amazing.TagHelpers.DatePicker.DatePickerDefaults.UniquePageClassName" />

<br/><br />

iteration 3: &lt;input date-picker /&gt;
<br />
<input date-picker />

<br />
<br />
iteration 4: &lt;input date-picker class="text-blue" /&gt;
<br />
<input date-picker class="text-blue" />